html {
    margin:0;
    padding:0;
    background-color:green;
    height:100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

p {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: Roboto;
    font-size: 32px;
    padding: 20px;
}
#contact {
    background-color:#9A0B1B ;
    text-align: center;
}
#images {
    text-align: center; 
}
#mono {
    text-align: right;
    padding: 0mm;
    margin: 10mm;
}
h2 {
    color: #ffffff;
    font-family: Roboto;
    margin: 0px;
    padding: 30px;
}

footer {
    margin-bottom:0;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0
}

.reseaux-sociaux  {
    width:32px;
    height:32px;
    margin:20px;  
}

#adresse {
    background-color: red;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
}



